@import "../../utils/constants/colors.scss";

.post {
    padding: 0 5%;
    color: $letter-black;
    margin-bottom: 100px;
    .post__title {
        font: 800 normal 25px 'Roboto', sans-serif;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .post__body {
        font: 400 normal 15px 'Roboto', sans-serif;
        letter-spacing: 1px;
        margin-bottom: 50px;
    }
    .buttons{
        color: $letter-black;
        .refferToMain {
            font: 800 normal 15px 'Roboto', sans-serif;
            cursor: pointer;
            text-decoration: none;
            border: 2px solid $letter-gray;
            padding: 10px 25px;
            &:hover {
                border: 2px solid $hover-blue;
                color: $hover-blue;
            }
        }
    }
}