@import "../../utils/constants/colors.scss";

.comment {
    padding:20px 40px 20px 40px;
    border: 2px solid $letter-gray;
    margin-bottom: 20px;
    .user_info{
        display: flex;
        justify-content: space-between;
        font: 800 normal 18px 'Roboto', sans-serif;
        cursor: default;
        margin-bottom: 30px;
        .user_name{
            color: $hover-blue;
            margin-right: 20px;
        }
        .user_email{

        }
    }
    .user_body{
        font: 500 normal 15px 'Roboto', sans-serif;
        letter-spacing: 1px;
    }
}
.commentInput{
    padding:20px 40px 20px 40px;
    textarea {
        height: 100px;
        width: 100%;
        font-size: 20px;
        resize:none;
        margin-bottom: 30px;
    }
    .comments__buttons{
        display: flex;
        justify-content: space-around;
        margin-top: auto;
        button{
            font: 800 normal 15px 'Roboto', sans-serif;
            cursor: pointer;
            text-decoration: none;
            border: 2px solid $letter-gray;
            padding: 10px 25px;
            &:hover {
                border: 2px solid $hover-blue;
                color: $hover-blue;
            }
        }
    }
}