@import "roboto.css";

body {
    // background-image: url("../assets/footer-puppy.png");
    // font-family: 'Roboto', sans-serif;
    background-color: #85D3AF;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}