<div class="main__wrapper">
    <div class="wrapper__left-side">
        <div class="left-side__header">
            <h2>logo</h2>
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div id="side__news" class="left-side__content">
        </div>
        <div class="left-side__bottom">
            <h2>about</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eligendi eius maxime atque veniam
                sequi commodi voluptate velit dolorum obcaecati?</p>
            <p>@arhipy97</p>
        </div>
    </div>
    <div class="articles" id="articles">
        <div class="articles__header">
            <div class="articles__header-title">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="articles__header-date">
                <h2>NOVEMBER </br> 1, 2015</h2>
            </div>
        </div>
        <div id="api__content">
        </div>
    </div>
</div>